* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

.logo{
    height: 100px;
}

nav{
    background-color: rgba(0, 0, 0, 0.4);

    display: inline-block;
    height: 100px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: left;
}

nav a {
    display: block;
    width: 60px;
}


.nav-left {
    float: left;
    margin-left: 40px;
    
}

.nav-right {
    float: right;
    margin-right: 40px;
}


.nav-right ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li .short:hover::after {
    width: 80%;
}



.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/*about*/

#about {
    padding: 80px 0;
    color: #fff;
}

.hobint {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents ul li a{
    text-decoration: none;
    color: #ff004f;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Links */

#links{
    padding: 30px 0;
}

.link-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.link-list a div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    
    transition: background 0.5s, transform 0.5s;
}

.link-list a div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.link-list a div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.link-list a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.link-list a div:hover {
    background-color: #ff004f;
    transform: translateY(-10px);
}

.red {
    color: #ff004f;
}


/* Footer */

footer {
    font-size: 13px;
    text-align: center;
    padding: 3em;
    color: #fff;
    margin-top: 20px;
    background-color: #262626;
}

footer a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

footer a::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;
}

footer a:hover::after {
    width: 100%;
}


.mailto {
    margin-top: 10px;
    margin-bottom: -10px;
    font-style: italic;
}

.back {
    margin-top: 10px;
    font-style: italic;
}


/* Media Size Change*/

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {

    #header {
        background-image: url(images/backgroundsmall.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .nav-right .fas {
        margin-top: 30px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }
    
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    

}
    
